---
import githubIcon from "../assets/github.svg";
import linkedinIcon from "../assets/linkedin.svg";
import menuIcon from "../assets/menu.svg";
import {
	contentWidth,
	basePadding,
	textColor,
	backgroundColor,
} from "../colors";

const links = [
	{ label: "skills", href: "#skills" },
	{ label: "experiences", href: "#experiences" },
	{ label: "projects", href: "#projects" },
	{ label: "blog", href: "https://blyte.town" },
];

const socialLinks = [
	{
		platform: "GitHub",
		href: "https://github.com/bkwhite",
		icon: githubIcon,
	},
	{
		platform: "LinkedIn",
		href: "https://linkedin.com/in/blythewhite/",
		icon: linkedinIcon,
	},
];
---

<nav class="white-box glow">
	<input type="checkbox" id="nav-toggle" class="toggle-nav" />
	<a class="blythe" href="#blythe">blythe</a>

	<ul class="nav-links">
		{links.map((link) => (
			<li>
				{link.href.includes("#") ? (
					<a href={link.href} class="text-link">
						{link.label}
					</a>
				) : (
					<a
						href={link.href}
						target="_blank"
						rel="noopener noreferrer"
						class="text-link">
						{link.label}
					</a>
				)}
			</li>
		))}

		{socialLinks.map((social) => (
			<li>
				<a
					href={social.href}
					target="_blank"
					rel="noopener noreferrer"
					class="icon-link">
					<img src={social.icon.src} alt={social.platform} />
				</a>
			</li>
		))}

		<li>
			<a class="resume-button" href="/blythe.white.pdf" target="_blank">
				resume ▼
			</a>
		</li>
	</ul>

	<label for="nav-toggle" class="menu-icon">
		<img
			class="menu-icon"
			width="24"
			height="24"
			src={menuIcon.src}
			alt="Menu"
		/>
	</label>
</nav>

<style define:vars={{ contentWidth, basePadding, textColor, backgroundColor }}>
	nav {
		position: relative;
		background-color: var(--textColor);
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 24px;
	}

	.nav-links {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 24px;
		padding-inline-start: 0;
	}

	ul > li {
		list-style: none;
		font-weight: 500;
		margin: 0;
	}

	a {
		color: var(--backgroundColor);
		position: relative;
	}

	.text-link:hover::before {
		position: absolute;
		content: "";
		border-bottom: 4px solid var(--backgroundColor);
		bottom: -8px;
		animation: underline-anime 0.4s;
		width: 90%;
	}

	.icon-link {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	li > a > img {
		width: 24px;
	}

	.resume-button {
		background-color: var(--backgroundColor);
		color: var(--textColor);
		padding: 10px 16px;
		border-radius: 4px;
		text-decoration: none;
		font-weight: bold;
	}

	.toggle-nav {
		display: none;
	}

	.menu-icon {
		display: none;
		cursor: pointer;
		padding: 0.5rem;
	}

	@media screen and (max-width: 768px) {
		nav {
			justify-content: space-between;
		}

		.blythe {
			margin-left: 24px;
		}

		.menu-icon {
			display: block;
		}

		.nav-links {
			position: absolute;
			top: 100%;
			left: 0;
			right: 0;
			flex-direction: column;
			background-color: #f0f0f0;
			max-height: 0;
			overflow: hidden;
			transition: all 0.5s ease;
			margin-block-start: 0;
			opacity: 0;
		}

		.toggle-nav:checked ~ .nav-links {
			padding-top: 24px;
			padding-bottom: 28px;
			max-height: 60vh;
			opacity: 1;
		}
	}

	@keyframes underline-anime {
		0% {
			width: 0%;
		}
		100% {
			width: 90%;
		}
	}
</style>
